<a href="https://colab.research.google.com/github/leonardo69-code/Python---Banco-de-Dados/blob/main/AD_11_Fundamentos_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 - Variáveis e tipos de dados

In [ ]:
'''
Variáveis:
'''
cliente = 'Douglas' # nesta linha criamos a variável cliente e armazenamos o nome mais bonito

In [ ]:
# exibindo o valor de uma variável
print(cliente)

Douglas

In [ ]:
# Verficicando o tipo de dado armazenado
type(cliente)

str

In [ ]:
peso = 87
type(peso)

int

In [ ]:
altura = 1.85
type(altura)

float

# 2 - Operadores matemáticos

In [ ]:
# Soma (+)
soma = 3 + 2
print(soma)

5

In [ ]:
# Subtração (-)
sub = 3 - 2
print(sub)

1

In [ ]:
# Multiplicação (*)
mult = 3 * 2
print(mult)

6

In [ ]:
# Divisão (/)
div = 3 / 2
print(div)

1.5

In [ ]:
# Parte inteira da divisão (//)
int_div = 3 // 2
print(int_div)

1

In [ ]:
# resto da divisão (%)
resto = 3 % 2
print(resto)

1

In [ ]:
# Potenciação
potencia = 3 ** 2
print(potencia)

9

# 3 - Strings

In [ ]:
# Formatação de strings (f-string)
cliente = 'Daniela'
print(cliente)

Daniela

In [ ]:
# Formatação de strings (f-string)
print(f'O no do cliente é {cliente}')

O no do cliente é Daniela

In [ ]:
# Receber uma informação do usuário
peso = float(input('Informe seu peso em Kg: '))
altura = float(input('Infome sua altura em metros: '))
imc = peso / altura ** 2
print(f'{imc:.2f}') # Arreddonda a exibição

Informe seu peso em Kg: 87
Infome sua altura em metros: 1.85
25.42

In [ ]:
'''
É uma boa prática arredondar a exibição ao invÉs do armazenamente
'''
print(round(imc,2)) # Arreddonda a exibição

25.42

In [ ]:
email = 'doug@gmail.com'
# Indexação de strings
# 0    1   2   3   4   5  6  7  8  9 10 11 12 13 (índice)
# -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 (índice reverso)
# 1º 2º 3º 4º 5º 6º 7º 8º 9º 10º 11º 12º 13º 14º (ordinal)
# d  o  u  g  @  g  m  a  i   l   .   c   o   m

In [ ]:
# Exibindo o primeiro caracter da string
letra1 = email[0]
print(letra1)

d

In [ ]:
'''
Imagine que você deseja fatiar uma string exibindo do primeiro ao último
caracter
'''
print(email[0:14]) # início (0) inclusive e final(14) exclusivo

doug@gmail.co

In [ ]:
# Exibindo o última caracter de uma string com tanho desconhecido
print(email[-1])

m

In [ ]:
# Fatiamento de um intervalo de caractceres com passos (saltos)
'''
Imagine que você deseja criar uma visualização de todos os caracteres
com passo igual a 2
'''
print(email[::2]) # [início (inclusive):fim (exclusive):passo (de quanto em quanto)]

du@mi.o

In [ ]:
# Função para contar a quantidade de caracteres de uma string
len(email)

14

In [ ]:
# Operador IN (verifica a presença de um caracter em uma string)
cliente = 'Douglas'
'D' in cliente

True

In [ ]:
'd' in cliente

False

In [ ]:
# Operador NOT IN (verifica a presença de um caracter em uma string)
cliente = 'Douglas'
'D' not in cliente

False

In [ ]:
'd' not in cliente

True

In [ ]:
# Convertendo em caixa alta a primeira leta de uma string
nome = 'douglas'
print(nome)
nome = nome.capitalize()
print(nome)

douglas
Douglas

In [ ]:
nome_completo = 'douglas almeida ribeiro'
print(nome_completo)
nome_completo = nome_completo.capitalize()
print(nome_completo)
nome_completo = nome_completo.title()
print(nome_completo)

douglas almeida ribeiro
Douglas almeida ribeiro
Douglas Almeida Ribeiro

In [ ]:
# Método upper deixa todas as letras em caixa alta
nome = 'Douglas'
print(nome)
nome = nome.upper()
print(nome)

Douglas
DOUGLAS

In [ ]:
# Contando quantas vezes um caracter aparece em uma string
nome = 'ANA'
nome.count('A')

2

In [ ]:
# Descobrindo o índice da primeira correspondência encontrada
email.find('o')

1

In [ ]:
# Método para remover espaços indesejados
nome = ' Douglas '
print(len(nome))
nome = nome.strip()
print(len(nome))

9
7

In [ ]:
# Método para substituir um caracter por outro

custo = 'R$ 10.50'
custo = custo.replace('.',',')
print(custo)

R$ 10,50

In [ ]:
'''
Imagine que você deseja criar um script que receba do usuário
n nomes e os armazene separadamente em uma única variável
'''
nomes = input('Informe os nomes dos convidados sparados por espaços: ')
print(nomes)
print(type(nomes))

Informe os nomes dos convidados sparados por espaços: Douglas Daniela Eduardo Ester Maria Pedro
Douglas Daniela Eduardo Ester Maria Pedro
<class 'str'>

In [ ]:
nomes = nomes.split()
print(nomes)
print(type(nomes))

['Douglas', 'Daniela', 'Eduardo', 'Ester', 'Maria', 'Pedro']
<class 'list'>

# 4 - Estruturas de Dados

## 4.1 - Tuplas

In [ ]:
clientes = ('Douglas', 'Daniela', 'Eduardo')
print(clientes)

('Douglas', 'Daniela', 'Eduardo')

In [ ]:
# As tuplas são indexadas
clientes[0][0]# acesso ao registro 0 da tupla e o registro 0 da string contida nesse registro

'D'

In [ ]:
# Verificando o tipo de objeto
type(clientes)

tuple

In [ ]:
# convertendo um objeto em uma tupla
notas = [8, 10, 5]
print(type(notas))
notas = tuple(notas)
print(type(notas))
notas = list(notas)
print(type(notas))

<class 'list'>
<class 'tuple'>
<class 'list'>

## 4.2 - Listas

In [ ]:
# As listas são mutáveis (diferente das tuplas que são imutáveis)
idades = [48,9]
print(type(idades))

<class 'list'>

In [ ]:
# Acessando os valores de uma lista
clientes = list(clientes)
clientes[0][0]

'D'

In [ ]:
clientes = ['Douglas',['Eduardo',['Ester','Daniela']]]
type(clientes[1][1][0])

str

In [ ]:
# Operações com listas
nomes = ['Douglas','Daniela','Pedro','Maria','Eduardo','Ester']
print(nomes)

['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester']

In [ ]:
# Incluir o nome José na última posição da lista
nomes.append('José') # por definição o método append acrescente o dado na última posição da lista
print(nomes)

['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester', 'José']

In [ ]:
'''
Vamos supor que desejamos incluir o nome Raul entre Daniela e Pedro
'''
nomes.insert(2, 'Raul') # o método insert inclui um elemento em uma posição previamente determinada e "empurra" os outros para frente
print(nomes)

['Douglas', 'Daniela', 'Raul', 'Pedro', 'Maria', 'Eduardo', 'Ester', 'José']

In [ ]:
'''
Imagine que você deseja substituir José por Jonas
'''
nomes[7] = 'Jonas'
print(nomes)

['Douglas', 'Daniela', 'Raul', 'Pedro', 'Maria', 'Eduardo', 'Ester', 'Jonas']

In [ ]:
# Descobrindo a posição de Jonas
nomes.index('Jonas')

7

In [ ]:
# Excluindo um registro da lista pelo seu índice (exclusão de Jonas)
nomes.pop(7)
print(nomes)

['Douglas', 'Daniela', 'Raul', 'Pedro', 'Maria', 'Eduardo', 'Ester']

In [ ]:
# Excluindo Raul da lista pelo seu valor
nomes.remove('Raul')
print(nomes)

['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester']

## 4.3 - Dicionários

In [ ]:
carro = {'marca':'vw','modelo':'gol','tipo':'mec','cor':'cinza'}

In [ ]:
print(carro)

{'marca': 'vw', 'modelo': 'gol', 'tipo': 'mec', 'cor': 'cinza'}

In [ ]:
type(carro)

dict

In [ ]:
# Acessando dados de um dicionário
carro['cor']

'cinza'

In [ ]:
carro['marca']

'vw'

In [ ]:
# Incluir uma chave e um valor (atribuição direta)
carro['motor'] = '1.0'
print(carro)

{'marca': 'vw', 'modelo': 'gol', 'tipo': 'mec', 'cor': 'cinza', 'motor': '1.0'}

In [ ]:
carro.get('motor')

'1.0'

In [ ]:
# Excluindo um item de um dicionário (marca)
carro.pop('marca')
print(carro)

{'modelo': 'gol', 'tipo': 'mec', 'cor': 'cinza', 'motor': '1.0'}

In [ ]:
# Excluindo o último par de chave/valor
carro.popitem()
print(carro)

{'modelo': 'gol', 'tipo': 'mec', 'cor': 'cinza'}

## 4.4 - Sets (Conjuntos)

In [ ]:
clientes = {'Douglas', 'Eduardo', 'Ester'}

In [ ]:
type(clientes)

set

# 5 - Estruturas de controle de fluxo

## 5.1 - IF, ELIF e ELSE

In [ ]:
'''
Imagine que você deseja criar um código que receba do usuário uma nota de 0 a 10
e caso a nota seja maior ou igual a 7 exiba a mensagem aprovado, caso contrario
exiba a mensagem reprovado
'''
nota = float(input('Informe uma nota numérica de 0 a 10: '))
if nota >= 7:
  print('Aprovado')
else:
  print('Reprovado')

Informe uma nota numérica de 0 a 10: 6.9
Reprovado

In [ ]:
'''
Imagine agora que se a nota for maior ou igual a 7 a mensagem deve ser
Aprovado, se mnor que 7 e maior ou igual a 4, a mensagem dever ser Recuperação
e caso a nota seja menor que 4 a mensagem dever ser Reprovado
'''
nota = float(input('Informe uma nota numérica de 0 a 10: '))
if nota >= 7:
  print('Aprovado')
elif nota >= 4:
  print('Recuperação')
else:
  print('Reprovado')

Informe uma nota numérica de 0 a 10: 11
Aprovado

## 5.2 - FOR

In [ ]:
nomes = ['Douglas','Daniela','Pedro','Maria','Eduardo','Ester']

In [ ]:
'''
Imagine que você deseja percorrer a lista de nomes e imprimir separadamente
cada nome encontrado
'''
for nome in nomes:
  print(nome)

Douglas
Daniela
Pedro
Maria
Eduardo
Ester

In [ ]:
pesos = [87, 35, 90, 70, 96, 67]
alturas = [1.85, 1.41, 1.75, 1.70, 1.82, 1.74]

In [ ]:
for numero in range(6):
  print(numero)

0
1
2
3
4
5

In [ ]:
'''
suponha que você deseja criar uma lista de imc relaciocionando
os pesos com suas respectivas alturas
'''
imc = []
for index in range(len(pesos)):
  imc.append(round(pesos[index]/alturas[index]**2,2))
print(imc)

[25.42, 17.6, 29.39, 24.22, 28.98, 22.13]

## 5.3 - While

In [ ]:
'''
Imagine que você deseja criar uma lista que receba do usuário uma quantidade
de notas determinada pelo usuário e armazena cada nota em uma lista e ao final
exiba a média aritmética
'''
n = int(input('Informe a quantidade de notas para calcular a média: '))
notas = []
c = 0
while c < n:
  notas.append(float(input(f'Informa a {c+1}ª nota: ')))
  c += 1
media = sum(notas)/n
print(f'A média é {media:.2f}')

Informe a quantidade de notas para calcular a média: 2
Informa a 1ª nota: 5
Informa a 2ª nota: 8
A média é 6.5

In [ ]:
# Alternativa
'''
Imagine que você deseja criar uma lista que receba do usuário uma quantidade
de notas determinada pelo usuário e armazena cada nota em uma lista e ao final
exiba a média aritmética
'''
notas = input('Informe as notas separadas por espaços: ')
notas = notas.split()
for i in range(len(notas)):
  notas[i] = float(notas[i])
media = sum(notas)/len(notas)
print(f'A média é {media:.2f}')

Informe as notas separadas por espaços: 10 8
A média é 9.00