<a href="https://colab.research.google.com/github/leonardo69-code/Python---Banco-de-Dados/blob/main/C%C3%B3pia_de_Mini_projeto_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
Você recebeu uma base de dados com informações de funcionários.
Sua tarefa é responder às seguintes perguntas utilizando a biblioteca pandas:

01 - Quantos registros existem na base de dados?
02 - Quantos registros têm informações completas (sem valores ausentes)?
03 - Substitua os valores ausentes na coluna "Salário" pela média dos salários
      e exiba a nova média.
04 - Substitua todos os valores "TI" na coluna "Departamento" por
     "Tecnologia da Informação".
05 - Qual é o salário mais alto e quem o recebe?
06 - Quantos funcionários estão no departamento de Marketing?
07 - Qual é a idade média dos funcionários por departamento?
08 - Liste os cargos únicos presentes na base.
09 - Crie uma nova coluna chamada "Tempo na Empresa" que calcula o tempo de
     trabalho com base na data de contratação.
10 - Liste os 5 funcionários com mais tempo de empresa.
11 - Quantos funcionários têm desempenho avaliado acima de 8?
12 - Qual é o salário total por departamento?
13 - Liste os 5 funcionários mais jovens.
14 - Existe algum registro sem salário? Liste-os.
15 - Utilize a função apply para criar uma nova coluna "Categoria de Salário",
     classificando os funcionários como "Baixo" (salário < 3000), "Médio"
     (3000 ≤ salário ≤ 7000) e "Alto" (salário > 7000).
16 - Utilize a função map para criar uma nova coluna chamada
     "Desempenho Simplificado", substituindo a "Avaliação de Desempenho" em
     uma escala simples: "Baixo" (1-3), "Médio" (4-7) e "Alto" (8-10).
17 - Utilize uma função lambda para criar uma nova coluna "Idade em 5 Anos",
     que adiciona 5 anos à idade atual dos funcionários.
18 - Quantos funcionários estão na categoria de salário "Alto"?
19 - Use dropna para excluir registros com valores ausentes e salve o
     DataFrame limpo em um novo arquivo CSV.
20 - Faça o casting da coluna "Avaliação de Desempenho" para o tipo inteiro e
     exiba o DataFrame.
'''

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSpCW9yMoUMQ4tknj5Lg_TYVfIC3P9KoVPPqlJKsBu2HzGaC579yCp9Ohxni2ncY-xyLfugXan9K6yf/pub?gid=636707205&single=true&output=csv')
display(df.head(2))

,ID,Nome,Idade,Salário,Cargo,Departamento,Data de Contratação,Avaliação de Desempenho
0,1,Juan,42.0,9276.79,Florista,Financeiro,2024-03-01,3.6
1,2,Isabelly,65.0,NaN,NaN,Operações,2023-04-04,6.3

In [3]:
import pandas as pd

# Dados fornecidos
data = """
ID,Nome,Idade,Salário,Cargo,Departamento,Data de Contratação,Avaliação de Desempenho
1,Juan,42.0,9276.79,Florista,Financeiro,2024-03-01,3.6
2,Isabelly,65.0,,,Operações,2023-04-04,6.3
... (demais linhas) ...
"""

# Carregar os dados em um DataFrame
from io import StringIO
df = pd.read_csv(StringIO(data))

In [4]:
total_registros = len(df)
print(f"Total de registros: {total_registros}")

Total de registros: 3

In [5]:
registros_completos = len(df.dropna())
print(f"Registros com informações completas: {registros_completos}")

Registros com informações completas: 1

In [6]:
media_salarios = df['Salário'].mean(skipna=True)
df['Salário'].fillna(media_salarios, inplace=True)
nova_media = df['Salário'].mean()
print(f"Nova média salarial: {nova_media:.2f}")

Nova média salarial: 9276.79

<ipython-input-6-3209e6356598>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salário'].fillna(media_salarios, inplace=True)

In [7]:
df['Departamento'].replace('TI', 'Tecnologia da Informação', inplace=True)

<ipython-input-7-773ab840b6a2>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Departamento'].replace('TI', 'Tecnologia da Informação', inplace=True)

In [8]:
salario_mais_alto = df['Salário'].max()
funcionario_mais_rico = df[df['Salário'] == salario_mais_alto][['Nome', 'Cargo']]
print(funcionario_mais_rico)

       Nome     Cargo
0      Juan  Florista
1  Isabelly       NaN
2       NaN       NaN

In [9]:
marketing_count = df[df['Departamento'] == 'Marketing'].shape[0]
print(f"Funcionários no Marketing: {marketing_count}")

Funcionários no Marketing: 0

In [10]:
idade_media = df.groupby('Departamento')['Idade'].mean()
print(idade_media)

Departamento
Financeiro    42.0
Operações     65.0
Name: Idade, dtype: float64

In [11]:
cargos_unicos = df['Cargo'].unique()
print(cargos_unicos)

['Florista' nan]

In [12]:
df['Data de Contratação'] = pd.to_datetime(df['Data de Contratação'], errors='coerce')
df['Tempo na Empresa'] = (pd.Timestamp.now() - df['Data de Contratação']).dt.days // 365

In [13]:
mais_tempo = df.nlargest(5, 'Tempo na Empresa')[['Nome', 'Tempo na Empresa']]
print(mais_tempo)

       Nome  Tempo na Empresa
1  Isabelly               1.0
0      Juan               0.0
2       NaN               NaN

In [14]:
desempenho_acima_8 = df[df['Avaliação de Desempenho'] > 8].shape[0]
print(f"Funcionários com desempenho acima de 8: {desempenho_acima_8}")

Funcionários com desempenho acima de 8: 0

In [15]:
salario_total_departamento = df.groupby('Departamento')['Salário'].sum()
print(salario_total_departamento)

Departamento
Financeiro    9276.79
Operações     9276.79
Name: Salário, dtype: float64

In [16]:
mais_jovens = df.nsmallest(5, 'Idade')[['Nome', 'Idade']]
print(mais_jovens)

       Nome  Idade
0      Juan   42.0
1  Isabelly   65.0
2       NaN    NaN

In [17]:
sem_salario = df[df['Salário'].isna()]
print(sem_salario)

Empty DataFrame
Columns: [ID, Nome, Idade, Salário, Cargo, Departamento, Data de Contratação, Avaliação de Desempenho, Tempo na Empresa]
Index: []

In [18]:
df['Categoria de Salário'] = df['Salário'].apply(
    lambda x: 'Baixo' if x < 3000 else 'Médio' if x <= 7000 else 'Alto'
)

In [19]:
df['Desempenho Simplificado'] = df['Avaliação de Desempenho'].map(
    lambda x: 'Baixo' if x <= 3 else 'Médio' if x <= 7 else 'Alto'
)

In [20]:
df['Idade em 5 Anos'] = df['Idade'].apply(lambda x: x + 5 if pd.notnull(x) else x)

In [21]:
salario_alto = df[df['Categoria de Salário'] == 'Alto'].shape[0]
print(f"Funcionários na categoria de salário 'Alto': {salario_alto}")

Funcionários na categoria de salário 'Alto': 3

In [22]:
df_limpo = df.dropna()
df_limpo.to_csv('funcionarios_limpo.csv', index=False)

In [24]:
# Preencher valores ausentes com a média da coluna
df['Avaliação de Desempenho'].fillna(df['Avaliação de Desempenho'].mean(), inplace=True)

# Converter para inteiro
df['Avaliação de Desempenho'] = df['Avaliação de Desempenho'].astype(int)

In [25]:
# Remover linhas com valores ausentes na coluna "Avaliação de Desempenho"
df = df.dropna(subset=['Avaliação de Desempenho'])

# Converter para inteiro
df['Avaliação de Desempenho'] = df['Avaliação de Desempenho'].astype(int)

In [26]:
df['Avaliação de Desempenho'] = df['Avaliação de Desempenho'].astype(int)