<a href="https://colab.research.google.com/github/leonardo69-code/Python---Banco-de-Dados/blob/main/Gabarito_Lista_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importação da biblioteca pandas
import pandas as pd

In [ ]:
# Instalação dos requisitos para o PySpark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
# Configurar as variáveis de ambiente
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"
# Torna o pyspark "importável"
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession

# Inicializar a SparkSession com suporte ao Hive
spark = SparkSession.builder \
    .appName("Spark with Hive on Colab") \
    .config("spark.sql.catalogImplementation", "hive") \
    .config("spark.sql.warehouse.dir", "/content/spark-warehouse") \
    .config("hive.metastore.warehouse.dir", "/content/spark-warehouse") \
    .enableHiveSupport() \
    .getOrCreate()

# Criar diretório para o warehouse
!mkdir -p /content/spark-warehouse

In [ ]:
# Verifica o SparkContext
print(spark)

# Exibe a Spark version
print(spark.version)

<pyspark.sql.session.SparkSession object at 0x7f96d8ae1de0>
3.1.1

In [ ]:
'''
Aplicar agregações ou cálculos: Operações como médias, somas e contagens podem
ser realizadas com funções da biblioteca pyspark.sql.functions
(importadas como F).
'''
from pyspark.sql import functions as F

In [ ]:
cliente = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQW3fP3j4qoiMGBXDAGzg_9IW2b3zgjdkVKLsURNVe9QezpHXimWfKle_55CQQtkeWL69OAASBDNdk8/pub?gid=2073489257&single=true&output=csv')
display(cliente)

   codcliente              nome           cidade sexo estado estadocivil
0           1         Ana Silva  Duque de Caxias    F     RJ           C
1           2     Bruna Pereira          Niterói    F     RJ           C
2           3  Túlio Nascimento  Duque de Caxias    M     RJ           S
3           4    Fernando Souza         Campinas    M     SP           S
4           5     Lúcia Andrade        São Paulo    F     SP           C

In [ ]:
aluguel = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRncyLGO1iOo2H53JaryzVF1GPjUhWl9DsN7TZROCDxaP85iCwl5aW5ffBEzqtpAMRNYkd7eO5ehmgn/pub?gid=1581881382&single=true&output=csv')
display(aluguel)

   codaluguel  codcliente  codcarro data_aluguel
0           1           3         2   2023-04-01
1           2           2         1   2023-04-02
2           3           2         1   2023-04-03
3           4           2         3   2023-04-04
4           5           1         4   2023-04-05
5           6           1         4   2023-04-13
6           7           1         1   2023-04-15
7           8           5         2   2023-04-19
8           9           5         2   2023-04-21
9          10           3         1   2023-04-25

In [ ]:
carro = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSznlX7UXeH_LeKcNteiDnWvdwZyydAQl0_x8NU9cx6G00Zh7SMrjoUuNpytVq7U-iQVzQNJ7jC7GpY/pub?gid=306989914&single=true&output=csv')
display(carro)

   codcarro  codmarca modelo  valor
0         1         1     Ka  100.0
1         2         2   Argo  150.0
2         3         3   Onix  170.0
3         4         4   Polo  150.0
4         5         5   Kwid  120.0

In [ ]:
marca = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSI-4_QEFwZ6eDGwUDlip0_PGBn7d_F7j59UwXmRvWbQFyy01ENPatjkbO1E8k5ZW5lqSY9ox112j7X/pub?gid=1160143272&single=true&output=csv')
display(marca)

   codmarca       marca
0         1        Ford
1         2        Fiat
2         3   Chevrolet
3         4  Volkswagen
4         5     Renault

In [ ]:
cliente.to_csv('cliente.csv',index=False)

In [ ]:
aluguel.to_csv('aluguel.csv',index=False)

In [ ]:
marca.to_csv('marca.csv',index=False)

In [ ]:
carro.to_csv('carro.csv',index=False)

In [ ]:
# Cria a tabela cliente
spark.sql('''
CREATE TABLE IF NOT EXISTS cliente (
  codcliente INT,
  nome STRING,
  cidade STRING,
  sexo STRING,
  estado STRING,
  estadocivil STRING
)

USING CSV
OPTIONS (path '/content/cliente.csv', header 'true', inferSchema 'true')
''')
cliente = spark.sql('''
SELECT *
FROM cliente
''')

In [ ]:
# Cria a tabela aluguel
spark.sql('''
CREATE TABLE IF NOT EXISTS aluguel (
  codaluguel INT,
  codcliente INT,
  codcarro INT,
  data_aluguel DATE
)

USING CSV
OPTIONS (path '/content/aluguel.csv', header 'true', inferSchema 'true')
''')
aluguel = spark.sql('''
SELECT *
FROM aluguel
''')

In [ ]:
# Cria a tabela carro
spark.sql('''
CREATE TABLE IF NOT EXISTS carro (
  codcarro INT,
  codmarca INT,
  modelo STRING,
  valor DOUBLE
)

USING CSV
OPTIONS (path '/content/carro.csv', header 'true', inferSchema 'true')
''')
carro = spark.sql('''
SELECT *
FROM carro
''')

In [ ]:
# Cria a tabela marca
spark.sql('''
CREATE TABLE IF NOT EXISTS marca (
  codmarca INT,
  marca STRING
)

USING CSV
OPTIONS (path '/content/marca.csv', header 'true', inferSchema 'true')
''')
marca = spark.sql('''
SELECT *
FROM marca
''')

In [ ]:
'''
01 - Carregar as quatro tabelas do banco locadora no PySpark como DataFrames
'''
aluguel = spark.read.csv("aluguel.csv", header=True, inferSchema=True)
carro = spark.read.csv("carro.csv", header=True, inferSchema=True)
cliente = spark.read.csv("cliente.csv", header=True, inferSchema=True)
marca = spark.read.csv("marca.csv", header=True, inferSchema=True)

In [ ]:
'''
02 - Exibir as cinco primeiras linhas de cada DataFrame
'''
print("Primeiras 5 linhas de 'aluguel':")
aluguel.show(5)
print("Primeiras 5 linhas de 'carro':")
carro.show(5)
print("Primeiras 5 linhas de 'cliente':")
cliente.show(5)
print("Primeiras 5 linhas de 'marca':")
marca.show(5)

Primeiras 5 linhas de 'aluguel':
+----------+----------+--------+------------+
|codaluguel|codcliente|codcarro|data_aluguel|
+----------+----------+--------+------------+
|         1|         3|       2|  2023-04-01|
|         2|         2|       1|  2023-04-02|
|         3|         2|       1|  2023-04-03|
|         4|         2|       3|  2023-04-04|
|         5|         1|       4|  2023-04-05|
+----------+----------+--------+------------+
only showing top 5 rows

Primeiras 5 linhas de 'carro':
+--------+--------+------+-----+
|codcarro|codmarca|modelo|valor|
+--------+--------+------+-----+
|       1|       1|    Ka|100.0|
|       2|       2|  Argo|150.0|
|       3|       3|  Onix|170.0|
|       4|       4|  Polo|150.0|
|       5|       5|  Kwid|120.0|
+--------+--------+------+-----+

Primeiras 5 linhas de 'cliente':
+----------+----------------+---------------+----+------+-----------+
|codcliente|            nome|         cidade|sexo|estado|estadocivil|
+----------+----------------+---------------+----+------+-----------+
|         1|       Ana Silva|Duque de Caxias|   F|    RJ|          C|
|         2|   Bruna Pereira|        Niterói|   F|    RJ|          C|
|         3|Túlio Nascimento|Duque de Caxias|   M|    RJ|          S|
|         4|  Fernando Souza|       Campinas|   M|    SP|          S|
|         5|   Lúcia Andrade|      São Paulo|   F|    SP|          C|
+----------+----------------+---------------+----+------+-----------+

Primeiras 5 linhas de 'marca':
+--------+----------+
|codmarca|     marca|
+--------+----------+
|       1|      Ford|
|       2|      Fiat|
|       3| Chevrolet|
|       4|Volkswagen|
|       5|   Renault|
+--------+----------+

In [ ]:
'''
03 - Contar o número de linhas e colunas de cada tabela
'''
linhas_aluguel = aluguel.count()
colunas_aluguel = len(aluguel.columns)
print(f"'aluguel' tem {linhas_aluguel} linhas e {colunas_aluguel} colunas.")

linhas_carro = carro.count()
colunas_carro = len(carro.columns)
print(f"'carro' tem {linhas_carro} linhas e {colunas_carro} colunas.")

linhas_carro = carro.count()
colunas_carro = len(carro.columns)
print(f"'carro' tem {linhas_carro} linhas e {colunas_carro} colunas.")

linhas_marca = marca.count()
colunas_marca = len(marca.columns)
print(f"'marca' tem {linhas_marca} linhas e {colunas_marca} colunas.")

'aluguel' tem 10 linhas e 4 colunas.
'carro' tem 5 linhas e 4 colunas.
'carro' tem 5 linhas e 4 colunas.
'marca' tem 5 linhas e 2 colunas.

In [ ]:
'''
04 - Exibir o esquema (schema) de cada DataFrame
'''
print("Schema de 'aluguel':")
aluguel.printSchema()

print("Schema de 'carro':")
carro.printSchema()

print("Schema de 'cliente':")
cliente.printSchema()

print("Schema de 'marca':")
marca.printSchema()

Schema de 'aluguel':
root
 |-- codaluguel: integer (nullable = true)
 |-- codcliente: integer (nullable = true)
 |-- codcarro: integer (nullable = true)
 |-- data_aluguel: string (nullable = true)

Schema de 'carro':
root
 |-- codcarro: integer (nullable = true)
 |-- codmarca: integer (nullable = true)
 |-- modelo: string (nullable = true)
 |-- valor: double (nullable = true)

Schema de 'cliente':
root
 |-- codcliente: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- estadocivil: string (nullable = true)

Schema de 'marca':
root
 |-- codmarca: integer (nullable = true)
 |-- marca: string (nullable = true)

In [ ]:
'''
05 - Renomear as colunas dos DataFrames para ter nomes mais amigáveis
'''
aluguel_r = aluguel.withColumnRenamed("codaluguel", "id_aluguel") \
                       .withColumnRenamed("codcliente", "id_cliente") \
                       .withColumnRenamed("codcarro", "id_carro") \
                       .withColumnRenamed("data_aluguel", "data_aluguel")

carro_r = carro.withColumnRenamed("codcarro", "id_carro") \
                   .withColumnRenamed("modelo", "modelo") \
                   .withColumnRenamed("valor", "preco_aluguel") \
                   .withColumnRenamed("codmarca", "id_marca")

cliente_r = cliente.withColumnRenamed("codcliente", "id_cliente") \
                       .withColumnRenamed("nome", "nome_completo") \
                       .withColumnRenamed("sexo", "genero") \
                       .withColumnRenamed("estadocivil", "estado_civil") \
                       .withColumnRenamed("estado", "uf")

marca_r = marca.withColumnRenamed("codmarca", "id_marca") \
                   .withColumnRenamed("marca", "nome_marca")

print("Colunas de 'aluguel':", aluguel_r.columns)
print("Colunas de 'carro':", carro_r.columns)
print("Colunas de 'cliente':", cliente_r.columns)
print("Colunas de 'marca':", marca_r.columns)

Colunas de 'aluguel': ['id_aluguel', 'id_cliente', 'id_carro', 'data_aluguel']
Colunas de 'carro': ['id_carro', 'id_marca', 'modelo', 'preco_aluguel']
Colunas de 'cliente': ['id_cliente', 'nome_completo', 'cidade', 'genero', 'uf', 'estado_civil']
Colunas de 'marca': ['id_marca', 'nome_marca']

In [ ]:
'''
06 - Selecionar apenas os aluguéis realizados após uma data específica
'''
data_especifica = "2023-04-13"

aluguel.where(F.col("data_aluguel") > data_especifica).show()

+----------+----------+--------+------------+
|codaluguel|codcliente|codcarro|data_aluguel|
+----------+----------+--------+------------+
|         7|         1|       1|  2023-04-15|
|         8|         5|       2|  2023-04-19|
|         9|         5|       2|  2023-04-21|
|        10|         3|       1|  2023-04-25|
+----------+----------+--------+------------+

In [ ]:
'''
07 - Encontrar clientes que residem no estado de "RJ"
'''
cliente.where(F.col("estado") == "RJ").show()

+----------+----------------+---------------+----+------+-----------+
|codcliente|            nome|         cidade|sexo|estado|estadocivil|
+----------+----------------+---------------+----+------+-----------+
|         1|       Ana Silva|Duque de Caxias|   F|    RJ|          C|
|         2|   Bruna Pereira|        Niterói|   F|    RJ|          C|
|         3|Túlio Nascimento|Duque de Caxias|   M|    RJ|          S|
+----------+----------------+---------------+----+------+-----------+

In [ ]:
'''
08 - Filtrar carros com valor de aluguel maior que 150
'''
carro.where(F.col("valor") > 150).show()

+--------+--------+------+-----+
|codcarro|codmarca|modelo|valor|
+--------+--------+------+-----+
|       3|       3|  Onix|170.0|
+--------+--------+------+-----+

In [ ]:
'''
09 - Selecionar aluguéis onde o cliente é do sexo feminino
'''
aluguel.join(cliente, aluguel.codcliente == cliente.codcliente)\
.where(F.col('sexo') == 'F').select('codaluguel','nome','sexo').show()

+----------+-------------+----+
|codaluguel|         nome|sexo|
+----------+-------------+----+
|         7|    Ana Silva|   F|
|         6|    Ana Silva|   F|
|         5|    Ana Silva|   F|
|         4|Bruna Pereira|   F|
|         3|Bruna Pereira|   F|
|         2|Bruna Pereira|   F|
|         9|Lúcia Andrade|   F|
|         8|Lúcia Andrade|   F|
+----------+-------------+----+

In [ ]:
'''
10 - Identificar clientes solteiros
'''
cliente.where(F.col("estadocivil") == "S").show()

+----------+----------------+---------------+----+------+-----------+
|codcliente|            nome|         cidade|sexo|estado|estadocivil|
+----------+----------------+---------------+----+------+-----------+
|         3|Túlio Nascimento|Duque de Caxias|   M|    RJ|          S|
|         4|  Fernando Souza|       Campinas|   M|    SP|          S|
+----------+----------------+---------------+----+------+-----------+

In [ ]:
'''
11 - Realizar um join entre "Aluguel" e "Cliente" para adicionar informações do
cliente ao DataFrame de aluguéis
'''
aluguel.join(cliente, aluguel.codcliente == cliente.codcliente, "inner").show()

+----------+----------+--------+------------+----------+----------------+---------------+----+------+-----------+
|codaluguel|codcliente|codcarro|data_aluguel|codcliente|            nome|         cidade|sexo|estado|estadocivil|
+----------+----------+--------+------------+----------+----------------+---------------+----+------+-----------+
|         7|         1|       1|  2023-04-15|         1|       Ana Silva|Duque de Caxias|   F|    RJ|          C|
|         6|         1|       4|  2023-04-13|         1|       Ana Silva|Duque de Caxias|   F|    RJ|          C|
|         5|         1|       4|  2023-04-05|         1|       Ana Silva|Duque de Caxias|   F|    RJ|          C|
|         4|         2|       3|  2023-04-04|         2|   Bruna Pereira|        Niterói|   F|    RJ|          C|
|         3|         2|       1|  2023-04-03|         2|   Bruna Pereira|        Niterói|   F|    RJ|          C|
|         2|         2|       1|  2023-04-02|         2|   Bruna Pereira|        Niterói|   F|    RJ|          C|
|        10|         3|       1|  2023-04-25|         3|Túlio Nascimento|Duque de Caxias|   M|    RJ|          S|
|         1|         3|       2|  2023-04-01|         3|Túlio Nascimento|Duque de Caxias|   M|    RJ|          S|
|         9|         5|       2|  2023-04-21|         5|   Lúcia Andrade|      São Paulo|   F|    SP|          C|
|         8|         5|       2|  2023-04-19|         5|   Lúcia Andrade|      São Paulo|   F|    SP|          C|
+----------+----------+--------+------------+----------+----------------+---------------+----+------+-----------+

In [ ]:
'''
12 - Juntar "Carro" e "Marca" para incluir o nome da marca no DataFrame de
carros
'''
carro.join(marca, carro.codmarca == marca.codmarca, "inner").show()

+--------+--------+------+-----+--------+----------+
|codcarro|codmarca|modelo|valor|codmarca|     marca|
+--------+--------+------+-----+--------+----------+
|       1|       1|    Ka|100.0|       1|      Ford|
|       2|       2|  Argo|150.0|       2|      Fiat|
|       3|       3|  Onix|170.0|       3| Chevrolet|
|       4|       4|  Polo|150.0|       4|Volkswagen|
|       5|       5|  Kwid|120.0|       5|   Renault|
+--------+--------+------+-----+--------+----------+

In [ ]:
'''
13 - Criar um DataFrame combinando "Aluguel", "Carro" e "Cliente"
'''
aluguel.join(cliente, aluguel.codcliente == cliente.codcliente, "inner")\
.join(carro, aluguel.codcarro == carro.codcarro, "inner").show()

+----------+----------+--------+------------+----------+----------------+---------------+----+------+-----------+--------+--------+------+-----+
|codaluguel|codcliente|codcarro|data_aluguel|codcliente|            nome|         cidade|sexo|estado|estadocivil|codcarro|codmarca|modelo|valor|
+----------+----------+--------+------------+----------+----------------+---------------+----+------+-----------+--------+--------+------+-----+
|         7|         1|       1|  2023-04-15|         1|       Ana Silva|Duque de Caxias|   F|    RJ|          C|       1|       1|    Ka|100.0|
|         6|         1|       4|  2023-04-13|         1|       Ana Silva|Duque de Caxias|   F|    RJ|          C|       4|       4|  Polo|150.0|
|         5|         1|       4|  2023-04-05|         1|       Ana Silva|Duque de Caxias|   F|    RJ|          C|       4|       4|  Polo|150.0|
|         4|         2|       3|  2023-04-04|         2|   Bruna Pereira|        Niterói|   F|    RJ|          C|       3|       3|  Onix|170.0|
|         3|         2|       1|  2023-04-03|         2|   Bruna Pereira|        Niterói|   F|    RJ|          C|       1|       1|    Ka|100.0|
|         2|         2|       1|  2023-04-02|         2|   Bruna Pereira|        Niterói|   F|    RJ|          C|       1|       1|    Ka|100.0|
|        10|         3|       1|  2023-04-25|         3|Túlio Nascimento|Duque de Caxias|   M|    RJ|          S|       1|       1|    Ka|100.0|
|         1|         3|       2|  2023-04-01|         3|Túlio Nascimento|Duque de Caxias|   M|    RJ|          S|       2|       2|  Argo|150.0|
|         9|         5|       2|  2023-04-21|         5|   Lúcia Andrade|      São Paulo|   F|    SP|          C|       2|       2|  Argo|150.0|
|         8|         5|       2|  2023-04-19|         5|   Lúcia Andrade|      São Paulo|   F|    SP|          C|       2|       2|  Argo|150.0|
+----------+----------+--------+------------+----------+----------------+---------------+----+------+-----------+--------+--------+------+-----+

In [ ]:
'''
14 - Realizar um join entre "Cliente" e "Carro" com uma condição específica
'''
cliente.join(aluguel, cliente.codcliente == aluguel.codcliente, "inner")\
.join(carro, aluguel.codcarro == carro.codcarro, "inner")\
.select('nome','cidade','sexo','estadocivil','modelo','valor')\
.where(F.col('valor') > 100).show()

+----------------+---------------+----+-----------+------+-----+
|            nome|         cidade|sexo|estadocivil|modelo|valor|
+----------------+---------------+----+-----------+------+-----+
|       Ana Silva|Duque de Caxias|   F|          C|  Polo|150.0|
|       Ana Silva|Duque de Caxias|   F|          C|  Polo|150.0|
|   Bruna Pereira|        Niterói|   F|          C|  Onix|170.0|
|Túlio Nascimento|Duque de Caxias|   M|          S|  Argo|150.0|
|   Lúcia Andrade|      São Paulo|   F|          C|  Argo|150.0|
|   Lúcia Andrade|      São Paulo|   F|          C|  Argo|150.0|
+----------------+---------------+----+-----------+------+-----+

In [ ]:
'''
15 - Encontrar o valor médio dos carros alugados
'''
aluguel.join(carro, aluguel.codcarro == carro.codcarro)\
.agg(F.round(F.avg('valor'),2).alias('valor_media')).show()

+-----------+
|valor_media|
+-----------+
|      132.0|
+-----------+

In [ ]:
'''
15a - Encontrar o valor médio dos carros para aluguel
'''
carro.agg(F.avg("valor").alias("valor_medio_aluguel")).show()

+-------------------+
|valor_medio_aluguel|
+-------------------+
|              138.0|
+-------------------+

In [ ]:
'''
16 - Calcular o número total de clientes por estado
'''
cliente.groupBy("estado").count().show()

+------+-----+
|estado|count|
+------+-----+
|    SP|    2|
|    RJ|    3|
+------+-----+

In [ ]:
'''
16 - Calcular o número total de clientes por estado
'''
cliente.groupBy('estado','nome').agg(F.count('codcliente')).show()

+------+----------------+-----------------+
|estado|            nome|count(codcliente)|
+------+----------------+-----------------+
|    SP|  Fernando Souza|                1|
|    SP|   Lúcia Andrade|                1|
|    RJ|       Ana Silva|                1|
|    RJ|Túlio Nascimento|                1|
|    RJ|   Bruna Pereira|                1|
+------+----------------+-----------------+

In [ ]:
'''
17 - Identificar a marca mais popular com base nos aluguéis
'''
aluguel.join(carro, aluguel.codcarro == carro.codcarro)\
.join(marca, marca.codmarca == carro.codmarca)\
.groupBy('marca').agg(F.count('codaluguel').alias('qtde_alugueis'))\
.orderBy(F.desc('qtde_alugueis')).show(1)

+-----+-------------+
|marca|qtde_alugueis|
+-----+-------------+
| Ford|            4|
+-----+-------------+
only showing top 1 row

In [ ]:
'''
18 - Determinar o maior e menor valor de aluguel entre os carros
'''
carro.agg(
    F.max("valor").alias("maior_valor"),
    F.min("valor").alias("menor_valor")).show()

+-----------+-----------+
|maior_valor|menor_valor|
+-----------+-----------+
|      170.0|      100.0|
+-----------+-----------+

In [ ]:
'''
19 - Classificar os carros pelo valor do aluguel em ordem decrescente
'''
carro.orderBy('valor', ascending=False).show()

+--------+--------+------+-----+
|codcarro|codmarca|modelo|valor|
+--------+--------+------+-----+
|       3|       3|  Onix|170.0|
|       4|       4|  Polo|150.0|
|       2|       2|  Argo|150.0|
|       5|       5|  Kwid|120.0|
|       1|       1|    Ka|100.0|
+--------+--------+------+-----+

In [ ]:
'''
20 - Calcular a diferença em dias entre o aluguel mais recente e o mais antigo
'''
# from pyspark.sql.functions import max, min, datediff
datas_extremas = aluguel.agg(
    F.max("data_aluguel").alias("data_recente"),
    F.min("data_aluguel").alias("data_antiga")
)

# Calcular a diferença em dias
diferenca_dias = datas_extremas.select(
    F.datediff("data_recente", "data_antiga").alias("diferenca_dias"))\
    .collect()[0]['diferenca_dias']

# Exibir o resultado
print(f"Diferença em dias entre o aluguel mais recente e o mais antigo: {diferenca_dias} dias")

Diferença em dias entre o aluguel mais recente e o mais antigo: 24 dias

In [ ]:
'''
21 - Criar uma coluna no DataFrame "Carro" para categorizar os valores de
aluguel
'''
carro.withColumn(
    "categoria_valor",
    F.when(carro.valor > 150, "Alto")
    .when(carro.valor > 100, "Médio")
    .otherwise("Baixo")
).show()

+--------+--------+------+-----+---------------+
|codcarro|codmarca|modelo|valor|categoria_valor|
+--------+--------+------+-----+---------------+
|       1|       1|    Ka|100.0|          Baixo|
|       2|       2|  Argo|150.0|          Médio|
|       3|       3|  Onix|170.0|           Alto|
|       4|       4|  Polo|150.0|          Médio|
|       5|       5|  Kwid|120.0|          Médio|
+--------+--------+------+-----+---------------+

In [ ]:
'''
22 - Criar uma coluna no DataFrame "Cliente" para indicar se a cidade é a
capital do estado
'''
# Lista de capitais para simplificação
capitais = ["São Paulo", "Rio de Janeiro"]

# Criar a nova coluna que indica se a cidade é uma capital
cliente_com_capital = cliente.withColumn(
    "cidade_capital",
    F.when(cliente.cidade.isin(capitais), 'Sim').otherwise('Interior')
)

# Exibir o DataFrame com a nova coluna
print("DataFrame de clientes com a nova coluna 'cidade_capital':")
cliente_com_capital.show()

DataFrame de clientes com a nova coluna 'cidade_capital':
+----------+----------------+---------------+----+------+-----------+--------------+
|codcliente|            nome|         cidade|sexo|estado|estadocivil|cidade_capital|
+----------+----------------+---------------+----+------+-----------+--------------+
|         1|       Ana Silva|Duque de Caxias|   F|    RJ|          C|      Interior|
|         2|   Bruna Pereira|        Niterói|   F|    RJ|          C|      Interior|
|         3|Túlio Nascimento|Duque de Caxias|   M|    RJ|          S|      Interior|
|         4|  Fernando Souza|       Campinas|   M|    SP|          S|      Interior|
|         5|   Lúcia Andrade|      São Paulo|   F|    SP|          C|           Sim|
+----------+----------------+---------------+----+------+-----------+--------------+

In [ ]:
'''
23 - Adicionar uma coluna em "Aluguel" com o valor total do aluguel,
considerando uma taxa fixa de 10%
'''
# Adicionar a coluna 'valor_total' considerando uma taxa fixa de 10%
aluguel_com_valor_total = aluguel.join(carro, aluguel.codcarro == carro.codcarro).withColumn(
    "valor_total",
    F.round(F.col("valor") * 1.10,1)  # Multiplica o valor original pela taxa de 10%
)
aluguel_com_valor_total.select('modelo', 'valor', 'valor_total').show()

+------+-----+-----------+
|modelo|valor|valor_total|
+------+-----+-----------+
|    Ka|100.0|      110.0|
|    Ka|100.0|      110.0|
|    Ka|100.0|      110.0|
|    Ka|100.0|      110.0|
|  Argo|150.0|      165.0|
|  Argo|150.0|      165.0|
|  Argo|150.0|      165.0|
|  Onix|170.0|      187.0|
|  Polo|150.0|      165.0|
|  Polo|150.0|      165.0|
+------+-----+-----------+

In [ ]:
'''
24 - Agrupar os aluguéis por cliente e contar o número de carros alugados
'''
aluguel.join(cliente, aluguel.codcliente == cliente.codcliente)\
.groupBy('nome')\
.agg(F.count('codaluguel').alias('qtde_alugueis'))\
.orderBy(F.desc('qtde_alugueis')).show()

+----------------+-------------+
|            nome|qtde_alugueis|
+----------------+-------------+
|       Ana Silva|            3|
|   Bruna Pereira|            3|
|Túlio Nascimento|            2|
|   Lúcia Andrade|            2|
+----------------+-------------+

In [ ]:
# Exemplo básico de script PySpark agendado:
# Carregar os dados
carro = spark.read.csv("carro.csv", header=True, inferSchema=True)

# Realizar transformação simples
carro_transformado = carro.withColumn("valor_corrigido", carro["valor"] * 1.10)

# Salvar resultado
carro_transformado.write.csv("aluguel_transformado.csv", header=True)