<a href="https://colab.research.google.com/github/leonardo69-code/Python---Banco-de-Dados/blob/main/Lista_de_Exerc%C3%ADcios_de_Python_B%C3%A1sico_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 - Variáveis e Tipos de Dados

In [ ]:
'''
1.1. Crie variáveis para armazenar o nome, idade, peso e altura de uma pessoa.
Imprima os valores e os tipos de dados dessas variáveis.
'''

In [1]:
nome = "Leonardo"
idade = 31
peso = 70.5
altura = 1.75
print("Nome:", nome, "- Tipo:", type(nome))
print("Idade:", idade, "- Tipo:", type(idade))
print("Peso:", peso, "- Tipo:", type(peso))
print("Altura:", altura, "- Tipo:", type(altura))

Nome: Leonardo - Tipo: <class 'str'>
Idade: 31 - Tipo: <class 'int'>
Peso: 70.5 - Tipo: <class 'float'>
Altura: 1.75 - Tipo: <class 'float'>

In [ ]:
'''
1.2. Atualize a variável de peso para um valor diferente e imprima o novo valor.
'''

In [2]:
peso = 75.0
print("Novo peso:", peso)

Novo peso: 75.0

# 2 - Operadores Matemáticos

In [ ]:
'''
2.1. Crie uma variável a com valor 10 e uma variável b com valor 3. Realize as
seguintes operações e imprima os resultados:
Soma
Subtração
Multiplicação
Divisão
Parte inteira da divisão
Resto da divisão
Exponenciação
'''

In [4]:
a = 10
b = 3

In [5]:
soma = a + b
subtracao = a - b
multiplicacao = a * b
divisao = a / b
parte_inteira_divisao = a // b
resto_divisao = a % b
exponenciacao = a ** b
print("Soma:", soma)
print("Subtração:", subtracao)
print("Multiplicação:", multiplicacao)
print("Divisão:", divisao)
print("Parte inteira da divisão:", parte_inteira_divisao)
print("Resto da divisão:", resto_divisao)
print("Exponenciação:", exponenciacao)

Soma: 13
Subtração: 7
Multiplicação: 30
Divisão: 3.3333333333333335
Parte inteira da divisão: 3
Resto da divisão: 1
Exponenciação: 1000

# 3 - Entrada de Dados pelo Usuário

In [ ]:
'''
3.1. Peça ao usuário para digitar seu nome e armazene em uma variável. Imprima
uma mensagem de boas-vindas usando o nome fornecido.
'''

In [6]:
nome_usuario = input("Digite seu nome: ")
print(f"Bem-vindo(a), {nome_usuario}!")

Digite seu nome: Leonardo
Bem-vindo(a), Leonardo!

In [ ]:
'''
3.2. Peça ao usuário para digitar sua idade, peso e altura. Calcule o IMC e
imprima o resultado arredondado para três casas decimais.
'''

In [7]:
idade = int(input("Digite sua idade: "))
peso = float(input("Digite seu peso (kg): "))
altura = float(input("Digite sua altura (m): "))
imc = peso / (altura ** 2)
print(f"Seu IMC é: {imc:.3f}")

Digite sua idade: 31
Digite seu peso (kg): 73
Digite sua altura (m): 1.70
Seu IMC é: 25.260

# 4 - Função de Impressão

In [ ]:
'''
4.1. Peça ao usuário para digitar um número e imprima o número digitado.
'''

In [8]:
numero = input("Digite um número: ")
print(f"Você digitou: {numero}")

Digite um número: 31
Você digitou: 31

In [ ]:
'''
4.2. Peça ao usuário para digitar dois números e imprima a soma deles.
'''

In [9]:
numero1 = float(input("Digite o primeiro número: "))
numero2 = float(input("Digite o segundo número: "))
soma = numero1 + numero2
print(f"A soma dos números é: {soma}")

Digite o primeiro número: 10
Digite o segundo número: 32841
A soma dos números é: 32851.0

# 5 - Métodos de Strings

In [ ]:
'''
5.1. Peça ao usuário para digitar um e-mail e verifique se o e-mail contém o
caractere '@'. Imprima uma mensagem indicando se é um e-mail válido ou não.
'''

In [10]:
email = input("Digite seu e-mail: ")
if '@' in email:
    print("O e-mail é válido.")
else:
    print("O e-mail não é válido.")

Digite seu e-mail: leoa.spaf.com.br
O e-mail não é válido.

In [ ]:
'''
5.2. Peça ao usuário para digitar uma frase e:
Converta a frase para maiúsculas.
Converta a frase para minúsculas.
Converta a primeira letra de cada palavra para maiúscula.
Verifique se a frase começa com uma determinada palavra (ex.: 'Olá').
'''

In [11]:
frase = input("Digite uma frase: ")
maiusculas = frase.upper()
print("Frase em maiúsculas:", maiusculas)
minusculas = frase.lower()
print("Frase em minúsculas:", minusculas)
primeira_maiuscula = frase.title()
print("Frase com a primeira letra de cada palavra em maiúscula:", primeira_maiuscula)
comeca_com_ola = frase.startswith('Olá')
if comeca_com_ola:
    print("A frase começa com 'Olá'.")
else:
    print("A frase não começa com 'Olá'.")

Digite uma frase: Olá amigos
Frase em maiúsculas: OLÁ AMIGOS
Frase em minúsculas: olá amigos
Frase com a primeira letra de cada palavra em maiúscula: Olá Amigos
A frase começa com 'Olá'.

# 6 - Listas

In [ ]:
'''
6.1. Crie uma lista com os nomes de cinco amigos. Imprima o nome do terceiro
amigo na lista.

'''

In [12]:
amigos = ["Alice", "Bruno", "Carlos", "Daniela", "Eduardo"]
terceiro_amigo = amigos[2]
print("O nome do terceiro amigo é:", terceiro_amigo)

O nome do terceiro amigo é: Carlos

In [ ]:
'''
6.2. Adicione um novo nome à lista de amigos e remova o primeiro nome.
Imprima a lista atualizada.
'''

In [13]:
amigos = ["Alice", "Bruno", "Carlos", "Daniela", "Eduardo"]
amigos.append("Fernanda")
amigos.pop(0)
print("Lista de amigos atualizada:", amigos)

Lista de amigos atualizada: ['Bruno', 'Carlos', 'Daniela', 'Eduardo', 'Fernanda']

In [ ]:
'''
6.3. Crie uma lista com as idades dos seus amigos e:
Imprima a idade do amigo mais velho.
Imprima a idade do amigo mais novo.
Calcule e imprima a soma das idades.
'''

In [14]:
idades = [25, 30, 22, 27, 29]
idade_mais_velho = max(idades)
print("Idade do amigo mais velho:", idade_mais_velho)
idade_mais_novo = min(idades)
print("Idade do amigo mais novo:", idade_mais_novo)
soma_idades = sum(idades)
print("Soma das idades:", soma_idades)

Idade do amigo mais velho: 30
Idade do amigo mais novo: 22
Soma das idades: 133

# 7 - Tuplas

In [ ]:
'''
7.1 Crie uma tupla com as informações de um cliente (nome, idade, peso, altura).
Imprima todas as informações.
'''

In [15]:
cliente = ("João", 30, 75.0, 1.75)
print("Informações do cliente:")
print("Nome:", cliente[0])
print("Idade:", cliente[1])
print("Peso:", cliente[2])
print("Altura:", cliente[3])

Informações do cliente:
Nome: João
Idade: 30
Peso: 75.0
Altura: 1.75

In [ ]:
'''
7.2. Crie uma nova tupla concatenando a tupla do exercício anterior com o e-mail
do cliente. Imprima a nova tupla.
'''

In [16]:
cliente = ("João", 30, 75.0, 1.75)
email_cliente = "joao@example.com"
nova_tupla = cliente + (email_cliente,)
print("Nova tupla com informações do cliente e e-mail:")
print(nova_tupla)

Nova tupla com informações do cliente e e-mail:
('João', 30, 75.0, 1.75, 'joao@example.com')

# 8 - Dicionários

In [ ]:
'''
8.1. Crie um dicionário com informações de um cliente
(nome, idade, peso, altura). Imprima o valor associado à chave 'nome'.
'''

In [17]:
cliente = {
    "nome": "João",
    "idade": 30,
    "peso": 75.0,
    "altura": 1.75
}
print("Nome do cliente:", cliente["nome"])

Nome do cliente: João

In [ ]:
'''
8.2. Adicione uma nova chave 'email' ao dicionário do exercício anterior e
imprima o dicionário atualizado.
'''

In [18]:
cliente = {
    "nome": "João",
    "idade": 30,
    "peso": 75.0,
    "altura": 1.75
}
cliente["email"] = "joao@example.com"
print("Dicionário atualizado com informações do cliente:")
print(cliente)

Dicionário atualizado com informações do cliente:
{'nome': 'João', 'idade': 30, 'peso': 75.0, 'altura': 1.75, 'email': 'joao@example.com'}

In [ ]:
'''
8.3. Remova a chave 'peso' do dicionário e verifique se a chave 'endereço' está
no dicionário. Imprima os resultados.
'''

In [19]:
cliente = {
    "nome": "João",
    "idade": 30,
    "peso": 75.0,
    "altura": 1.75,
    "email": "joao@example.com"
}
cliente.pop("peso", None)
tem_endereco = "endereço" in cliente
print("Dicionário após remover a chave 'peso':")
print(cliente)
print("A chave 'endereço' está no dicionário?", tem_endereco)

Dicionário após remover a chave 'peso':
{'nome': 'João', 'idade': 30, 'altura': 1.75, 'email': 'joao@example.com'}
A chave 'endereço' está no dicionário? False

# 9 - Controle de Fluxo

In [ ]:
# Condicionais
'''
9.1. Peça ao usuário para digitar sua idade e verifique se ele é menor de idade,
 adulto ou idoso. Imprima uma mensagem correspondente.
'''

In [20]:
idade = int(input("Digite sua idade: "))

if idade < 18:
    print("Você é menor de idade.")
elif 18 <= idade < 60:
    print("Você é adulto.")
else:
    print("Você é idoso.")

Digite sua idade: 31
Você é adulto.

In [ ]:
# Condicionais
'''
9.2. Peça ao usuário para digitar uma nota (0 a 100) e imprima se ele foi
aprovado (nota >= 60) ou reprovado.
'''

In [21]:
nota = float(input("Digite uma nota (0 a 100): "))

if nota >= 60:
    print("Você foi aprovado.")
else:
    print("Você foi reprovado.")

Digite uma nota (0 a 100): 85
Você foi aprovado.

In [ ]:
# Loop For
'''
9.3. Crie uma lista com os nomes de cinco cidades. Use um loop for para imprimir
cada nome de cidade.
'''

In [22]:
cidades = ["São Paulo", "Rio de Janeiro", "Belo Horizonte", "Salvador", "Curitiba"]

for cidade in cidades:
    print(cidade)

São Paulo
Rio de Janeiro
Belo Horizonte
Salvador
Curitiba

In [ ]:
# Loop For
'''
9.4. Crie uma lista com os números de 1 a 10. Use um loop for para imprimir o
quadrado de cada número.
'''

In [23]:
numeros = list(range(1, 11))

for numero in numeros:
    quadrado = numero ** 2
    print(quadrado)

1
4
9
16
25
36
49
64
81
100

# 10 - Estudo de caso 01

In [ ]:
'''
Contexto:
Uma empresa precisa registrar informações sobre seus clientes e calcular o IMC
(Índice de Massa Corporal) de cada um deles. As informações devem ser
armazenadas em um dicionário e exibidas ao final.
'''


'''
Requisitos:
Peça ao usuário para inserir os seguintes dados de um cliente:
Nome
Idade
Peso (em kg)
Altura (em metros)
E-mail
Armazene essas informações em um dicionário.
Calcule o IMC do cliente (IMC = Peso / (Altura * Altura)) e adicione esse valor ao dicionário.
Exiba todas as informações do cliente, incluindo o IMC arredondado para duas casas decimais.

'''

In [24]:
nome = input("Digite o nome do cliente: ")
idade = int(input("Digite a idade do cliente: "))
peso = float(input("Digite o peso do cliente (em kg): "))
altura = float(input("Digite a altura do cliente (em metros): "))
email = input("Digite o e-mail do cliente: ")
cliente = {
    "nome": nome,
    "idade": idade,
    "peso": peso,
    "altura": altura,
    "email": email
}
imc = peso / (altura ** 2)
cliente["IMC"] = round(imc, 2)
print("\nInformações do cliente:")
for chave, valor in cliente.items():
    print(f"{chave.capitalize()}: {valor}")

Digite o nome do cliente: Leo
Digite a idade do cliente: 31
Digite o peso do cliente (em kg): 75
Digite a altura do cliente (em metros): 1.70
Digite o e-mail do cliente: leonardo_state@hotmail.com

Informações do cliente:
Nome: Leo
Idade: 31
Peso: 75.0
Altura: 1.7
Email: leonardo_state@hotmail.com
Imc: 25.95

# 11 - Estudo de Caso 02

In [ ]:
'''
Contexto:
Uma escola precisa analisar as notas de seus alunos e determinar se cada aluno
foi aprovado ou reprovado. As notas serão armazenadas em uma lista e a análise
deve ser realizada em um loop.
'''

'''
Requisitos:
Peça ao usuário para inserir o nome e a nota de cinco alunos.
Armazene os nomes e as notas em listas separadas.
Para cada aluno, verifique se a nota é maior ou igual a 60. Se sim, o aluno está
aprovado; caso contrário, está reprovado.
Exiba uma mensagem para cada aluno informando seu nome, nota e se foi aprovado
ou reprovado.
'''

In [30]:
nomes = []
notas = []
for i in range(5):
    nome = input(f"Digite o nome do aluno {i + 1}: ")
    nota = float(input(f"Digite a nota do aluno {i + 1}: "))
    nomes.append(nome)
    notas.append(nota)
for i in range(5):
    if notas[i] >= 6:
        resultado = "aprovado"
    else:
        resultado = "reprovado"

    print(f"Aluno: {nomes[i]}, Nota: {notas[i]}, Situação: {resultado}")

Digite o nome do aluno 1: Alberto
Digite a nota do aluno 1: 7
Digite o nome do aluno 2: Leo
Digite a nota do aluno 2: 10
Digite o nome do aluno 3: Rodrigo
Digite a nota do aluno 3: 5
Digite o nome do aluno 4: Bruna
Digite a nota do aluno 4: 4
Digite o nome do aluno 5: Carlos
Digite a nota do aluno 5: 8
Aluno: Alberto, Nota: 7.0, Situação: aprovado
Aluno: Leo, Nota: 10.0, Situação: aprovado
Aluno: Rodrigo, Nota: 5.0, Situação: reprovado
Aluno: Bruna, Nota: 4.0, Situação: reprovado
Aluno: Carlos, Nota: 8.0, Situação: aprovado

# 12 - Estudo de caso 03

In [ ]:
'''
Contexto
Uma empresa deseja realizar uma pesquisa de opinião com cinco participantes
sobre um novo produto. As respostas devem ser armazenadas e analisadas para
verificar a satisfação dos clientes.
'''

'''
Requisitos
Peça ao usuário para inserir o nome e a opinião (satisfeito/insatisfeito) de
cinco participantes.
Armazene os nomes e as opiniões em um dicionário.
Conte o número de participantes satisfeitos e insatisfeitos.
Exiba a lista de participantes satisfeitos e insatisfeitos, bem como o número
total de cada categoria.
'''

In [31]:
pesquisa = {}
for i in range(5):
    nome = input(f"Digite o nome do participante {i + 1}: ")
    opiniao = input("Opinião (satisfeito/insatisfeito): ").lower()
    pesquisa[nome] = opiniao
satisfeitos = []
insatisfeitos = []
for nome, opiniao in pesquisa.items():
    if opiniao == "satisfeito":
        satisfeitos.append(nome)
    elif opiniao == "insatisfeito":
        insatisfeitos.append(nome)
        print("\nParticipantes satisfeitos:")
for nome in satisfeitos:
    print(nome)

print("\nParticipantes insatisfeitos:")
for nome in insatisfeitos:
    print(nome)

print(f"\nTotal de satisfeitos: {len(satisfeitos)}")
print(f"Total de insatisfeitos: {len(insatisfeitos)}")

Digite o nome do participante 1: Leo
Opinião (satisfeito/insatisfeito): Satisfeito
Digite o nome do participante 2: Bruno
Opinião (satisfeito/insatisfeito): Insatisfeito
Digite o nome do participante 3: Carlos
Opinião (satisfeito/insatisfeito): Satisfeito
Digite o nome do participante 4: Cesar
Opinião (satisfeito/insatisfeito): Satisfeito
Digite o nome do participante 5: Lucas
Opinião (satisfeito/insatisfeito): Insatisfeito

Participantes satisfeitos:

Participantes satisfeitos:
Leo
Carlos
Cesar

Participantes insatisfeitos:
Bruno
Lucas

Total de satisfeitos: 3
Total de insatisfeitos: 2